# Product Directories (don't promote outputs)
/build/
/dist/
.DS_Store
/out

# Product Files (just in case these exist outside the Product Directories)
*.class
*.jar
*.war
*.ear

#IDE files
/nbproject/
/build.xml
*.iml
.idea/
