# Product Directories (don't promot outputs)
/build/
/dist/

# Product Files (just in case these exist outside the Product Directories)
*.class
*.jar
*.war
*.ear

#IDE files
/nbproject/
/build.xml
*.iml
.idea/