<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>
            keyf.clueless.server.GameManagerInitializer
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>AccusationServlet</servlet-name>
        <servlet-class>keyf.clueless.server.AccusationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoveServlet</servlet-name>
        <servlet-class>keyf.clueless.server.MoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Refute</servlet-name>
        <servlet-class>keyf.clueless.server.RefuteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndTurnServlet</servlet-name>
        <servlet-class>keyf.clueless.server.EndTurnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuggestionServlet</servlet-name>
        <servlet-class>keyf.clueless.server.SuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnableToRefuteServlet</servlet-name>
        <servlet-class>keyf.clueless.server.UnableToRefuteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PollServlet</servlet-name>
        <servlet-class>keyf.clueless.server.PollServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameManagerAddingPlayersServlet</servlet-name>
        <servlet-class>keyf.clueless.server.GameManagerAddingPlayersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccusationServlet</servlet-name>
        <url-pattern>/AccusationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndTurnServlet</servlet-name>
        <url-pattern>/EndTurnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoveServlet</servlet-name>
        <url-pattern>/MoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PollServlet</servlet-name>
        <url-pattern>/PollServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Refute</servlet-name>
        <url-pattern>/Refute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuggestionServlet</servlet-name>
        <url-pattern>/SuggestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnableToRefuteServlet</servlet-name>
        <url-pattern>/UnableToRefuteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameManagerAddingPlayersServlet</servlet-name>
        <url-pattern>/GameManagerAddingPlayersServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
