<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>
            keyf.clueless.server.GameManagerInitializer
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>Accusation</servlet-name>
        <servlet-class>keyf.clueless.server.AccusationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Move</servlet-name>
        <servlet-class>keyf.clueless.server.MoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Refute</servlet-name>
        <servlet-class>keyf.clueless.server.RefuteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndTurn</servlet-name>
        <servlet-class>keyf.clueless.server.EndTurnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Suggestion</servlet-name>
        <servlet-class>keyf.clueless.server.SuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnableToRefute</servlet-name>
        <servlet-class>keyf.clueless.server.UnableToRefuteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Poll</servlet-name>
        <servlet-class>keyf.clueless.server.PollServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameManagerAddingPlayers</servlet-name>
        <servlet-class>keyf.clueless.server.GameManagerAddingPlayersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartGame</servlet-name>
        <servlet-class>keyf.clueless.server.StartGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accusation</servlet-name>
        <url-pattern>/Accusation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndTurn</servlet-name>
        <url-pattern>/EndTurn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Move</servlet-name>
        <url-pattern>/Move</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Poll</servlet-name>
        <url-pattern>/Poll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Refute</servlet-name>
        <url-pattern>/Refute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suggestion</servlet-name>
        <url-pattern>/Suggestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnableToRefute</servlet-name>
        <url-pattern>/UnableToRefute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameManagerAddingPlayers</servlet-name>
        <url-pattern>/GameManagerAddingPlayers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartGame</servlet-name>
        <url-pattern>/StartGame</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
